span {
    display: inline-block; 
    margin: 20px;
    padding: 20px;
}
strong {
    display: block;
    margin: 20px;
    padding: 20px;
}
em {
    display: none;
}
div {
   display: inline;
    margin: 20px;
    padding: 20px;
}